<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DangKy</servlet-name>
        <servlet-class>com.controller.DangKy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhap</servlet-name>
        <servlet-class>com.controller.DangNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listproduct</servlet-name>
        <servlet-class>com.controller.listproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categorylistproduct</servlet-name>
        <servlet-class>com.controller.categorylistproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartservlet</servlet-name>
        <servlet-class>com.controller.cartservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thanhtoanservlet</servlet-name>
        <servlet-class>com.controller.thanhtoanservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchservlet</servlet-name>
        <servlet-class>com.controller.searchservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>com.controller.logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>com.controller.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistaccount</servlet-name>
        <servlet-class>adminlistaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admineditaccount</servlet-name>
        <servlet-class>com.controller.admineditaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdateaccount</servlet-name>
        <servlet-class>com.controller.adminupdateaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminnewaccount</servlet-name>
        <servlet-class>com.controller.adminnewaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeleteaccount</servlet-name>
        <servlet-class>com.controller.admindeleteaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprocessorder</servlet-name>
        <servlet-class>com.controller.adminprocessorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistuser</servlet-name>
        <servlet-class>com.controller.adminlistuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminnewuser</servlet-name>
        <servlet-class>com.controller.adminnewuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminedituser</servlet-name>
        <servlet-class>com.controller.adminedituser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeleteuser</servlet-name>
        <servlet-class>com.controller.admindeleteuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdateuser</servlet-name>
        <servlet-class>com.controller.adminupdateuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistproduct</servlet-name>
        <servlet-class>com.controller.adminlistproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminnewproduct</servlet-name>
        <servlet-class>com.controller.adminnewproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admineditproduct</servlet-name>
        <servlet-class>com.controller.admineditproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdateproduct</servlet-name>
        <servlet-class>com.controller.adminupdateproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeleteproduct</servlet-name>
        <servlet-class>com.controller.admindeleteproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminnewcategory</servlet-name>
        <servlet-class>com.controller.adminnewcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistcategory</servlet-name>
        <servlet-class>com.controller.adminlistcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admineditcategory</servlet-name>
        <servlet-class>com.controller.admineditcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdatecategory</servlet-name>
        <servlet-class>com.controller.adminupdatecategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeletecategory</servlet-name>
        <servlet-class>com.controller.admindeletecategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistauthor</servlet-name>
        <servlet-class>com.controller.adminlistauthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminnewauthor</servlet-name>
        <servlet-class>com.controller.adminnewauthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admineditauthor</servlet-name>
        <servlet-class>com.controller.admineditauthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdateauthor</servlet-name>
        <servlet-class>com.controller.adminupdateauthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeleteauthor</servlet-name>
        <servlet-class>com.controller.admindeleteauthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>com.controller.adminlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateuserinfo</servlet-name>
        <servlet-class>com.controller.updateuserinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edituserinfo</servlet-name>
        <servlet-class>com.controller.editadmininfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateadmininfo</servlet-name>
        <servlet-class>com.controller.updateadmininfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newmessage</servlet-name>
        <servlet-class>com.controller.newmessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistmessage</servlet-name>
        <servlet-class>com.controller.adminlistmessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeletemessage</servlet-name>
        <servlet-class>com.controller.admindeletemessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newreview</servlet-name>
        <servlet-class>com.controller.newreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlistreview</servlet-name>
        <servlet-class>com.controller.adminlistreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeletereview</servlet-name>
        <servlet-class>com.controller.admindeletereview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DangKy</servlet-name>
        <url-pattern>/DangKy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhap</servlet-name>
        <url-pattern>/DangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listproduct</servlet-name>
        <url-pattern>/listproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categorylistproduct</servlet-name>
        <url-pattern>/categorylistproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartservlet</servlet-name>
        <url-pattern>/cartservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thanhtoanservlet</servlet-name>
        <url-pattern>/thanhtoanservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchservlet</servlet-name>
        <url-pattern>/searchservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistaccount</servlet-name>
        <url-pattern>/adminlistaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admineditaccount</servlet-name>
        <url-pattern>/admineditaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdateaccount</servlet-name>
        <url-pattern>/adminupdateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminnewaccount</servlet-name>
        <url-pattern>/adminnewaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeleteaccount</servlet-name>
        <url-pattern>/admindeleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprocessorder</servlet-name>
        <url-pattern>/adminprocessorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistuser</servlet-name>
        <url-pattern>/adminlistuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminnewuser</servlet-name>
        <url-pattern>/adminnewuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminedituser</servlet-name>
        <url-pattern>/adminedituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeleteuser</servlet-name>
        <url-pattern>/admindeleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdateuser</servlet-name>
        <url-pattern>/adminupdateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistproduct</servlet-name>
        <url-pattern>/adminlistproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminnewproduct</servlet-name>
        <url-pattern>/adminnewproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admineditproduct</servlet-name>
        <url-pattern>/admineditproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdateproduct</servlet-name>
        <url-pattern>/adminupdateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeleteproduct</servlet-name>
        <url-pattern>/admindeleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminnewcategory</servlet-name>
        <url-pattern>/adminnewcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistcategory</servlet-name>
        <url-pattern>/adminlistcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admineditcategory</servlet-name>
        <url-pattern>/admineditcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdatecategory</servlet-name>
        <url-pattern>/adminupdatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeletecategory</servlet-name>
        <url-pattern>/admindeletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistauthor</servlet-name>
        <url-pattern>/adminlistauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminnewauthor</servlet-name>
        <url-pattern>/adminnewauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admineditauthor</servlet-name>
        <url-pattern>/admineditauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdateauthor</servlet-name>
        <url-pattern>/adminupdateauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeleteauthor</servlet-name>
        <url-pattern>/admindeleteauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateuserinfo</servlet-name>
        <url-pattern>/updateuserinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edituserinfo</servlet-name>
        <url-pattern>/edituserinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateadmininfo</servlet-name>
        <url-pattern>/updateadmininfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newmessage</servlet-name>
        <url-pattern>/newmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistmessage</servlet-name>
        <url-pattern>/adminlistmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeletemessage</servlet-name>
        <url-pattern>/admindeletemessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newreview</servlet-name>
        <url-pattern>/newreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlistreview</servlet-name>
        <url-pattern>/adminlistreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeletereview</servlet-name>
        <url-pattern>/admindeletereview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
